body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    color: #fff;
}

/* Header */
.header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 5px 15px;
    background-color: #050505;
    color: white;
}

.header-logo {
    align-items: center;
    justify-content: right;
    display: flex;
}

.header-logo img {
    max-width: 40px;
    height: 40px;
    border-radius: 50px;
}

.header-name {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 2px 4px rgba(7, 124, 186, 0.9);
}


.container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #2d2c2c;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid rgb(103, 103, 103);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #3498db;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    padding: 0 10px;
  }
  

.content {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ccc; /* Light label color */
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555; /* Dark border color */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #444; /* Dark input background color */
    color: #fff; /* Light text color */
}

input[type="file"] {
    margin-top: 5px;
}



.btn-and-send {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #025ff3;
    border: 1px solid rgb(2, 63, 82);
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #084fb2;
}

#message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

#messageCounts {
    font-size: 40px;
}

/* Add this to your CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #353333;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add this to style the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #272626;
}

.how2use {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    bottom: 0;
    left: 0;
}

.how2use a {
    color: #926c04;
    font-size: 20px;
    bottom: 0;
    left: 0;
}